<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029022100480-400ulvlb0jviagium2oguuo3m6iul3io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029022100480-400ulvlb0jviagium2oguuo3m6iul3io</string>
	<key>API_KEY</key>
	<string>AIzaSyDGdqHIvVVU2SG_iRbw7RutgJ42ZK0hjTs</string>
	<key>GCM_SENDER_ID</key>
	<string>1029022100480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkishor.Chat-App-Ios</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ios-13f67</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ios-13f67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029022100480:ios:b4f684db74abacabc0fce5</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-ios-13f67.firebaseio.com</string>
</dict>
</plist>